.navHeader {
    background-color: #147C5C;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    max-width: 200px;
}

.nav-button {
    background-color: white;
    color: #04443C;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: solid #04443C;
    cursor: pointer;
    box-shadow: 10px 10px 5px #04443C;
}

.nav-button:hover {
    background-color: #04443C;
    color: white;
}

