.project-container{
    display: flex;
    width: 75%;
    flex-direction: row-reverse;
    box-shadow: 0px 0px 5px gray;
    box-shadow: 5px 5px 5px gray;
    margin: 10px;
    align-content: center;

}

.project-info {
    padding: 20px;
    width: 50%;
}

.image-container {
    width: 50%;
}

.image-container img {
width: 100%;
height: 450px;
object-fit:cover;
}

.association-image {
    position: relative;
}

.association-image img{
    width: 100%;
    height: 450px;
    object-fit:cover;
}

.association_info{
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 40%;
    font-size: 30px;
    color: white;
    text-align: center;
}

.category-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}